# Enable PHP parsing
<IfModule mod_php7.c>
    AddType application/x-httpd-php .php
</IfModule>

# Disable directory browsing
Options -Indexes

# Redirect to "index.php" if it exists
DirectoryIndex index.php

# Remove file extension from URLs
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]


# Force HTTPS (optional)
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# AuthType Basic
# AuthName "Restricted Area"
# AuthUserFile .htpasswd #.htpasswd file location
# Require valid-user

